/*Change the font and size*/
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-size: 18px;
}
header,footer{
    background-color: rgb(74, 104, 74);
}
.site-title {
    color:rgb(55, 95, 70);
}
button{
    type:square;
}